
<%- include('head-body-nav.ejs', {title : "basic"}) %>

  <div class="white-bg">
    
        <div class="list-box">
        <h4>글목록</h4>
        <p>글목록의 내용</p>
        </div>
    
  </div> 

  

<%- include('tail.ejs') %>
  