<!-- 
    Bootstrap js 는 body 끝나기전에
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
    <div id="footer_wrap">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td height="60" align="center"><table width="1300" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                      <td width="1072" style="font-size: 16px; font-weight:500;"><strong>입금계좌번호</strong>     입금계좌 :  기업은행 052-068127-01-016  예금주 : (주)이온크루      &nbsp;&nbsp;&nbsp;<span style="color:#f68783;">카카오톡 빠른 상담</span>     카카오톡 ID : Deck_keyboard</td>
                    <td width="228" align="right"><a href="http://pf.kakao.com/_zrfTG/chat" target="_blank"><img src="https://cdn-saas-web-250-174.cdn-nhncommerce.com/kcityer83_godomall_com/data/images/kakakakakaic.png"></a><a href="https://blog.naver.com/deckkeyboards" target="_blank"><img src="https://cdn-saas-web-250-174.cdn-nhncommerce.com/kcityer83_godomall_com/data/images/blog_icicic.png"></a><a href="https://www.youtube.com/@khleeofcherry" target="_blank"><img src="https://cdn-saas-web-250-174.cdn-nhncommerce.com/kcityer83_godomall_com/data/images/yuyuyuyuyuic.png"></a></td>
                  </tr>
                </tbody>
              </table></td>
            </tr>
          </tbody>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
           <tr>
              <td height="1"><div style="clear: both; border-bottom: 1px solid #eeeeee;"></div></td>
            </tr>
            
            <tr>
              <td bgcolor="#2d2d2d" align="center"><table width="1280" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td height="60">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
                <table width="1280" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td width="237" valign="top"><img src="https://cdn-saas-web-250-174.cdn-nhncommerce.com/kcityer83_godomall_com/data/images/bt_logo.png"></td>
                    <td width="392" valign="top"><strong style="color: #FFFFFF; font-size:16px; font-weight:600">고객센터</strong> <strong style="color: #FFFFFF; font-size:20px; font-weight:700">02-706-5118</strong>
                      <div style="padding-top: 10px;"></div><span style="font-size:14px; color:#979497; font-weight: 400; line-height: 22px;">운영시간 : 08:30 ~17:30<br>점심시간 : 12:00 ~ 13:00<br>토, 일, 공휴일은 휴무입니다.
                       </span><br><br>
                      <a href="/board/list.php?bdId=qna"><img src="https://cdn-saas-web-250-174.cdn-nhncommerce.com/kcityer83_godomall_com/data/images/qna_bt.png" width="150" height="34" alt=""></a></td>
                    <td width="661" valign="top" style="font-size: 12px; color: #747474;"><a href="../service/company.php"><strong style="font-size: 15px; color: #fff;">회사소개</strong></a> ㅣ <a href="../service/guide.php"><strong style="font-size: 15px; color: #fff;">이용가이드</strong></a> ㅣ <a href="../service/agreement.php"><strong style="font-size: 15px; color: #fff;">이용약관</strong></a> ㅣ <a href="../service/private.php"><strong style="font-size: 15px; color: #fff;">개인정보취급방침</strong></a> ㅣ <a href="/board/list.php?bdId=cooperation"><strong style="font-size: 15px; color: #fff;">가맹/대량문의</strong></a> ㅣ <a href="/board/list.php?bdId=cooperation"><strong style="font-size: 15px; color: #fff;">마케팅 제휴문의</strong></a> <div style="padding-top: 13px;"></div>
                      <span style="font-size:13px; color:#979497; font-weight: 400; line-height: 20px;">상호 : (주)이온크루 | 대표자 : 이강훈 | 사업자등록번호 : 109-86-17724 [사업자번호조회]<br>
        통신판매업신고 : 2009-서울강서-0500 본사(구로) : 서울 구로구 구로동 212-1 에이스트윈타워1차 705호<br>전화 : 02-706-5118 l 팩스 : 02-706-5113
        개인정보관리책임자 : 이강훈 | E-mail : kcityer@naver.com<br>Copyrightⓒ2015 (주)이온크루 All rights reserved.
                          
                       </span><br><br>
                      <img src="https://cdn-saas-web-250-174.cdn-nhncommerce.com/kcityer83_godomall_com/data/images/bt_sns.png" width="185" height="26" alt=""></td>
                  </tr>
                </tbody>
              </table>
                <table width="1280" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td height="40">&nbsp;</td>
                    </tr>
                  </tbody>
              </table>
                <table width="1280" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td height="1"><div style="clear: both; border-bottom: 1px solid #3c3c3c;"></div></td>
                    </tr>
                  </tbody>
              </table>
                <table width="1280" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td height="40" align="center" style="font-size: 14px; color: #b2b0b2; font-weight: 400">안전거래를 위해 페이먼트구매안전(에스크로)에 가입하여 서비스를 제공하고 있습니다.</td>
                    </tr>
                  </tbody>
              </table></td>
            </tr>
          </tbody>
        </table>
    </div>

</body>

</html>